{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
<li>
  <form method="get" action="" style="display:inline">
    <select name="per_page" onchange="this.form.submit()">
      <option value="50" {% if per_page|default:'' == '50' %}selected{% endif %}>50</option>
      <option value="100" {% if per_page == '100' %}selected{% endif %}>100</option>
    </select>
    {% for key,value in request.GET.items %}
      {% if key != 'per_page' %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endif %}
    {% endfor %}
  </form>
</li>
{{ block.super }}
{% endblock %}
